<h1>{{ 'files' | translate }}</h1>
<input ng-model="search" type="text" placeholder="{{ 'search' | translate }}" class="search">
<table>
    <thead>
        <tr>
            <th>{{ 'file' | translate }}</th>
            <th>{{ 'size' | translate }}</th>
            <th>{{ 'last_update' | translate }}</th>
            <th class="hide-mobile">{{ 'creation_date' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="file in files | filter:search | orderBy:'updatedAt':true" ng-click="$goPath('/files/' + file.id)">
            <td>{{ file.title }}</td>
            <td>{{ file.size | bytes }}</td>
            <td>{{ 'date' | translate:{date:file.updatedAt} }}</td>
            <td class="hide-mobile">{{ 'date' | translate:{date:file.createdAt} }}</td>
        </tr>
    </tbody>
</table>
