<h1>{{ currentFile.title }}</h1>
<div ng-hide="editing">
  <p>
    <strong>{{ 'last_update' | translate }}:</strong> {{ currentFile.updatedAt | date:'HH:mm' }} {{ 'date' | translate:{date: currentFile.updatedAt} }}
  </p>
  <p>
    <strong>{{ 'description' | translate }}:</strong> {{ currentFile.description }}
  </p>
  <p>
    <strong>{{ 'size' | translate }}:</strong> {{ currentFile.size | bytes }}
  </p>
  <p>
    <strong>{{ 'initial_name' | translate }}:</strong> {{ currentFile.file }}
  </p>
  <p ng-hide="share" style="overflow: hidden;">
    <strong>{{ 'sharing' | translate }}:</strong>
    <input id="sharing" type="checkbox" class="checkbox" ng-model="currentFile.shareState" ng-change="toggleShare()">
    <label for="sharing" class="label-checkbox"><span ng-show="currentFile.shareState">{{ 'enabled' | translate }} <a ng-href="{{ shareUri }}" target="_blank">{{ shareUri }}</a></span> <span ng-show="!currentFile.shareState">{{ 'disabled' | translate }}</span></label>
  </p>
  <p>
    <a class="button" ng-href="/api/files/{{ path.root }}download/{{ path.id }}"><span class="fa fa-download"></span> {{ 'download_file' | translate }}</a>
    <a class="button" ng-click="deleteFile()" ng-hide="share"><span class="fa fa-trash"></span> {{ 'delete_file' | translate }}</a>
    <a class="button" ng-click="editing = true" ng-hide="share"><span class="fa fa-pencil"></span> {{ 'edit_data' | translate }}</a>
  </p>
</div>
<div ng-show="editing">
  <form name="formEdit">
    <div class="form-group">
        <label for="title">{{ 'title' | translate }}:</label>
        <input id="title" name="title" type="text" class="form-control" ng-model="currentFile.title" placeholder="{{ 'title' | translate }}" required>
    </div>
    <div class="form-group">
        <label for="description">{{ 'description' | translate }}:</label>
        <input id="description" name="description" type="text" class="form-control" ng-model="currentFile.description" placeholder="{{ 'description' | translate }}" required>
    </div>
    <div class="form-group">
        <button ng-disabled="formEdit.$invalid" ng-click="editData()">{{ 'save' | translate }}</button>
    </div>
</form>
</div>
<p ng-if="preview == 'image'">
  <strong>{{ 'preview' | translate }}:</strong>
  <br>
  <img ng-src="/api/files/{{ path.root }}preview/{{ path.id }}" alt="{{ currentFile.description }}" />
</p>
<p ng-if="preview == 'text'">
  <strong>{{ 'preview' | translate }}:</strong>
  <br>
  <pre ng-if="preview == 'text'" ng-bind="text"></pre>
</p>
