<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Storage Office Templates</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <meta name="theme-color" content="#A1006B">
    <meta name="msapplication-navbutton-color" content="#A1006B">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body ng-app="SOT">
    <header>
        <ul class="nav" ng-show="user">
    					<li><a href="#/" ng-class="path=='files-list' ? 'active' : ''">{{ 'files' | translate }}</a></li>
    					<li><a href="#/files/new" ng-class="path=='files-new' ? 'active' : ''">{{ 'add_file' | translate }}</a></li>
    					<li><a href="#/management/" ng-class="path=='management' ? 'active' : ''" ng-show="user.admin">{{ 'management' | translate }}</a></li>
              <li><a href="#/languages/" ng-class="path=='languages' ? 'active' : ''">{{ 'languages' | translate }}</a></li>
              <li><a href="#/users/me" ng-class="path=='users-me' ? 'active' : ''">{{ 'my_account' | translate }}</a></li>
              <li><a ng-click="$logout()">{{ 'logout' | translate }}</a></li>
    		</ul>
        <h1>Storage Office Templates</h1>
    </header>
    <div class="ng-view content-wrap"></div>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
  </body>
</html>
