input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
}

audio:not([controls]) {
    display: none;
}

b,
strong {
    font-weight: bold;
}

button {
    -webkit-appearance: button;
    overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

button,
select {
    text-transform: none;
}

details {
    display: block;
}

hr {
    overflow: visible;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

input {
    -webkit-border-radius: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
}

input[type="number"] {
    width: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

main {
    display: block;
}

pre {
    overflow: auto;
}

progress {
    display: inline-block;
}

summary {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

template {
    display: none;
}

textarea {
    overflow: auto;
}

[hidden] {
    display: none;
}

/* * Universal inheritance */
*,
::before,
::after {
    box-sizing: inherit;
}

* {
    font-size: inherit;
    line-height: inherit;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/* * Opinionated defaults */
* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    border-style: solid;
    border-width: 0;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

select::-ms-value {
    color: currentColor;
}

svg {
    fill: currentColor;
}

[aria-busy="true"] {
    cursor: progress;
}

[aria-controls] {
    cursor: pointer;
}

[aria-disabled] {
    cursor: default;
}

[hidden][aria-hidden="false"] {
    clip: rect(0 0 0 0);
    display: inherit;
    position: absolute;
}

[hidden][aria-hidden="false"]:focus {
    clip: auto;
}

/* * Configurable defaults */
* {
    background-repeat: no-repeat;
}

:root {
    background-color: #ffffff;
    box-sizing: border-box;
    color: #000000;
    cursor: default;
    font: 100% / 1.5 sans-serif;
}

a {
    text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

button,
input,
select,
textarea {
    background-color: transparent;
    color: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    min-height: 1.5em;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}

nav ol,
nav ul {
    list-style: none;
}

small {
    font-size: 75%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

textarea {
    resize: vertical;
}

::-moz-selection {
    background-color: #b3d4fc;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    color: #ffffff;
    text-shadow: none;
}

main,
header,
footer,
article,
section,
aside,
details,
summary {
    margin: 0 auto;
    width: 100%;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 16px 16px;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    clear: both;
    display: inline-block;
    float: left;
    max-width: 100%;
    padding: 16px 0;
    text-align: center;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    margin-bottom: 16px;
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: baseline;
}

@media screen and (max-width:400px) {

    article,
    section,
    aside {
        clear: both;
        display: block;
        max-width: 100%;
    }

    img {
        margin-right: 16px;
    }
}

body {
    color: rgba(0, 0, 0, 0.8);
    font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

p {
    margin: 0;
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 36px;
    font-weight: 500;
    margin: 20px 0 16px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0 16px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 16px 0 4px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0 4px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0 4px;
}

h6 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 600;
    margin: 16px 0 4px;
}

small {
    color: rgba(0, 0, 0, 0.54);
    vertical-align: bottom;
}

pre {
    background: #efefef;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 16px;
    margin: 16px 0;
    padding: 16px;
    white-space: pre-wrap;
}

code {
    color: rgba(0, 0, 0, 0.8);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 16px;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-all;
    word-wrap: break-word;
}

a {
    color: #2196f3;
}

a:hover,
a:focus {
    color: #2196f3;
    text-decoration: underline;
}

a.button:hover,
a.button:focus {
    text-decoration: none;
}

dl {
    margin-bottom: 16px;
}

dd {
    margin-left: 40px;
}

ul,
ol {
    margin-bottom: 8px;
    padding-left: 40px;
    vertical-align: baseline;
}

blockquote {
    border-left: 2px solid #2196f3;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    margin: 16px 0;
    padding-left: 16px;
}

figcaption {
    font-family: Georgia, Times, "Times New Roman", serif;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

sup {
    font-size: 14px;
    vertical-align: super;
}

sub {
    font-size: 14px;
    vertical-align: sub;
}

mark {
    background: #ffeb3b;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 9px;
    vertical-align: middle;
}

input[type="color"] {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

input:not([type]) {
    -webkit-appearance: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: inline-block;
    padding: 8px;
    text-align: left;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    border-color: #2196f3;
}

input:not([type]):focus {
    border-color: #2196f3;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 1px thin rgba(0, 0, 0, 0.12);
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54);
    cursor: not-allowed;
}

input:not([type])[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54);
    cursor: not-allowed;
}

input[readonly],
select[readonly],
textarea[readonly] {
    border-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    border-color: #ea1c0d;
    color: #f44336;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
    outline-color: #f44336;
}

select {
    -webkit-appearance: menulist-button;
    border: 1px solid rgba(0, 0, 0, 0.12);
    vertical-align: sub;
}

select[multiple] {
    height: auto;
}

label {
    line-height: 2;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 8px 0;
}

legend {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    margin-bottom: 8px;
    padding: 8px 0;
    width: 100%;
}

textarea {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin-bottom: 8px;
    max-width: 100%;
    padding: 8px;
    vertical-align: middle;
}

input[type=submit],
input[type=reset],
button,
a.button {
    background: #2196f3;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
a.button:hover {
    background: #0c7cd5;
    border-color: 1px solid rgba(0, 0, 0, 0.54);
}

input[type=submit]:active,
input[type=reset]:active,
button:active,
a.button:active {
    background: #0c7cd5;
    border-color: 1px solid rgba(0, 0, 0, 0.54);
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
    outline-offset: -2px;
}

input[type=submit]:focus,
input[type=reset]:focus,
button:focus,
a.button:focus {
    background: #0c7cd5;
    border-color: 1px solid rgba(0, 0, 0, 0.54);
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
}

input[type=submit]:disabled,
button:disabled,
a.button:disabled {
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: not-allowed;
}

table {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
}

caption {
    padding: 8px 0;
}

thead th {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    text-align: left;
}

tr {
    margin-bottom: 8px;
}

th,
td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 16px;
    vertical-align: inherit;
}

tfoot tr {
    text-align: left;
}

tfoot td {
    color: rgba(0, 0, 0, 0.54);
    font-size: 8px;
    font-style: italic;
    padding: 16px 4px;
}

.content-wrap {
    margin: 0 auto;
    padding: 2em;
    max-width: 60em;
}

.box-error,
.box-info {
    padding: 15px;
    overflow: hidden;
}

.box-info {
    background-color: #d9edf7;
}

.box-error {
    color: #c7254e;
    background-color: #f9f2f4
}

.file-selected {
    color: #2ecc71;
    margin-left: 8px;
}

.btn-error {
    color: #c7254e;
    background-color: #f9f2f4;
}

.search,
.form-control {
    width: 100%;
}

.margin-bottom {
    margin-bottom: 10px !important;
}

.form-group {
    margin-bottom: 15px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-trash:before {
    content: "\f014";
}

.fa-pencil:before {
    content: "\f040";
}

.fa-upload:before {
    content: "\f093";
}

.fa-download:before {
    content: "\f019";
}

.fa-image:before {
    content: "\f1c5";
}

/* https://fontawesome.com/cheatsheet/free/regular */

.label-checkbox {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 20px;
    line-height: 1.2;
    font-weight: inherit;
}

.label-checkbox:before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #222;
}

.checkbox {
    display: none;
}

.checkbox:checked+label:before {
    background: #222;
}

header {
    flex-shrink: 0;
    overflow: hidden;
    background-size: 100%;
    background-color: rgba(161, 0, 107, .75);
    background-repeat: no-repeat;
    color: #fff;
    padding: 0;
    box-shadow: rgb(170, 170, 170) 0px 5px 10px;
}

header h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 2em;
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    z-index: 1000
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

ul.nav li a {
    cursor: pointer;
}

ul.nav .active {
    background-color: rgba(161, 0, 107, .75);
}

header h1 {
    margin: 1rem;
    border: none;
}
td {
    cursor: pointer
}